absl-py==2.5.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.13.0
argcomplete==3.6.3
# Editable Git install with no remote (astra-ea==1.0.0)
-e /home/subish-loq/Documents/astra
beautifulsoup4==4.15.0
blivet @ file:///builddir/build/BUILD/python-blivet-3.14.1-build/blivet-3.14.1
boto3==1.43.83
botocore==1.43.83
Brlapi==0.8.7
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
cockpit @ file:///builddir/build/BUILD/cockpit-367-build/cockpit-367/tmp/wheel/cockpit-367-py3-none-any.whl#sha256=2cf3b2a68ba6c00ac51b231ff213026b3ab544d59aed2ac63d14777b82cbb1f4
contourpy==1.3.3
crypt_r==3.13.1
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
distro==1.9.0
dnf==4.24.0
fastapi==0.141.1
fedora-third-party==0.10
file-magic==0.4.0
flatbuffers==25.12.19
fonttools==4.64.0
greenlet==3.5.5
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
humanize==4.15.0
idna==3.18
iniconfig==2.3.0
iso639==0.1.4
jmespath==1.0.1
kiwisolver==1.5.1
langtable==0.0.71
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.3.0
louis==3.33.0
lxml==6.1.1
matplotlib==3.11.1
mediapipe==1.0.1
ml_dtypes==0.6.0
nftables==0.1
numpy==2.5.3
olefile==0.47
onnx==1.22.0
opencv-contrib-python==5.0.0.93
opencv-python==5.0.0.93
packaging==25.0
pandas==3.0.5
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.3.0
pluggy==1.6.0
productmd==1.50
progressbar2==4.5.0
protobuf==7.36.1
psutil==7.2.2
ptyprocess==0.7.0
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycups==2.0.4
pydantic==2.13.5
pydantic_core==2.46.5
pyenchant==3.3.0
pygdbmi==0.11.0.0
Pygments==2.21.0
PyGObject==3.56.3
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pyparsing==3.3.2
pyparted==3.13.0
PySide6==6.11.2
PySocks==1.7.1
pytesseract==0.3.13
pytest==9.1.1
pytest-asyncio==1.4.0
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-linux-procfs==0.7.4
python-meh==0.52
python-pptx==1.0.2
python-utils==3.9.1
pyttsx3==2.99
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
RapidFuzz==3.14.3
regex==2026.7.19
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
rpm==6.0.2
rpmautospec==0.8.4
rpmautospec-core==0.1.5
s3transfer==0.19.1
selinux @ file:///builddir/build/BUILD/libselinux-3.11-build/libselinux-3.11/src/dist/selinux-3.11-cp314-cp314-linux_x86_64.whl#sha256=e028f96b8a57c596eb2e91c08d937d711954cb0882a6552bf28ddeab938028e3
sentry-sdk==2.48.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.11-build/selinux-3.11/python/sepolicy/dist/sepolicy-3.11-py3-none-any.whl#sha256=4215ac0439a505cdb35970cf16a590b4592d8a21f2bc6612e7a216c4490da2a3
setools==4.6.0
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.36-build/setroubleshoot-3.3.36/src
shiboken6==6.11.2
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sos==4.12.0
sounddevice==0.5.6
soupsieve==2.8.3
SQLAlchemy==2.0.52
starlette==1.6.0
systemd-python==235
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
uvicorn==0.52.4
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.1
wsproto==1.3.2
xkbregistry==0.3
xlsxwriter==3.2.9
